.elements__counter {
  text-align: center;
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 13px;
  line-height: 15.73px;
  min-height: 15.73px;
  color: var(--dark-color);
}
